<p id="notice"><%= notice %></p>

<h1>Speed Tests</h1>

<%= line_chart @pings %>
<%= line_chart @download_speeds %>
<%= line_chart @upload_speeds %>

<table>
  <thead>
    <tr>
      <th>Created</th>
      <th>Ping</th>
      <th>Upload</th>
      <th>Download</th>
      <th>Server</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speed_tests.each do |speed_test| %>
      <tr>
        <td><%= speed_test.created_at %></td>
        <td><%= speed_test.ping %></td>
        <td><%= speed_test.upload %></td>
        <td><%= speed_test.download %></td>
        <td><%= speed_test.server %></td>
        <td><%= link_to 'Show', speed_test %></td>
        <td><%= link_to 'Edit', edit_speed_test_path(speed_test) %></td>
        <td><%= link_to 'Destroy', speed_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Speed Test', new_speed_test_path %>
