<p id="notice"><%= notice %></p>

<h1>Speed Tests</h1>

<%= render 'form' %>

<h2>Latency (ms)</h2>
<%= line_chart @pings %>
<h2>Download Speed</h2>
<%= line_chart @download_speeds %>
<h2>Upload Speed</h2>
<%= line_chart @upload_speeds %>

<h2>Server Usage</h2>
<%= bar_chart @bar_chart %>


<br>

<%= link_to 'New Speed Test', new_speed_test_path %>
